#ewf1qt90tkhs2_to {
	animation: ewf1qt90tkhs2_to__to 3000ms linear infinite normal forwards
}

@keyframes ewf1qt90tkhs2_to__to {
	0% {
		transform: translate(210.387778px, -229.465221px)
	}
	1% {
		transform: translate(210.387778px, -229.465221px);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
	}
	30.333333% {
		transform: translate(115.998046px, -199.432125px);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
	}
	60% {
		transform: translate(210.387778px, -229.465221px)
	}
	100% {
		transform: translate(210.387778px, -229.465221px)
	}
}

#ewf1qt90tkhs4_tr {
	animation: ewf1qt90tkhs4_tr__tr 3000ms linear infinite normal forwards
}

@keyframes ewf1qt90tkhs4_tr__tr {
	0% {
		transform: translate(380.548584px, 337.987175px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.045000, 1.015000)
	}
	33.333333% {
		transform: translate(380.548584px, 337.987175px) rotate(45deg);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.045000, 1.015000)
	}
	67.666667% {
		transform: translate(380.548584px, 337.987175px) rotate(0deg)
	}
	100% {
		transform: translate(380.548584px, 337.987175px) rotate(0deg)
	}
}

#ewf1qt90tkhs9_tr {
	animation: ewf1qt90tkhs9_tr__tr 3000ms linear infinite normal forwards
}

@keyframes ewf1qt90tkhs9_tr__tr {
	0% {
		transform: translate(669.714428px, 195px) rotate(0deg)
	}
	2.666667% {
		transform: translate(669.714428px, 195px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
	}
	27% {
		transform: translate(669.714428px, 195px) rotate(-20deg);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
	}
	56% {
		transform: translate(669.714428px, 195px) rotate(0deg)
	}
	100% {
		transform: translate(669.714428px, 195px) rotate(0deg)
	}
}

#ewf1qt90tkhs11_tr {
	animation: ewf1qt90tkhs11_tr__tr 3000ms linear infinite normal forwards
}

@keyframes ewf1qt90tkhs11_tr__tr {
	0% {
		transform: translate(540.583801px, 338.786682px) rotate(360deg)
	}
	33.333333% {
		transform: translate(540.583801px, 338.786682px) rotate(360deg)
	}
	80% {
		transform: translate(540.583801px, 338.786682px) rotate(0deg)
	}
	100% {
		transform: translate(540.583801px, 338.786682px) rotate(0deg)
	}
}