@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App {
  text-align: center;
  font-family: 'Righteous';
  background-color: #F7F2EA;
  min-height: 100vh;
}

.landing-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  min-height: 80vh;
  max-height: 90vh;
}

.title-container {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 0 16px;
}

.landing-page-title {
  font-size: 3rem;
  width: 100%;
}

.landing-page-subtitle {
  font-size: 1.5rem;
  width: 100%;
}

.landing-page-image-container {
  position: relative;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 100%;
  min-height: 40vh;
}

.landing-image {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: auto;
}

.visit-app-button {
  color: white;
  background-color: #CEAF7F;
  border: none;
  font-family: 'Righteous';
  padding: 20px;
  border-radius: 20px;;
}

.why-pennydao-container {
  margin: 36px 0 0 0;
}

.why-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form button {
  border: none;
  border-radius: 20px;
  margin: 0 10px;
  padding: 10px;
  font-family: 'Righteous';
  color: white;
}

.enabled {
  background-color: #CEAF7F;
}

.disabled {
  background-color: #C2C2C2;
}

.modal-form h2 {
  text-align: center;
}

.form-input-divider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6%;
}

.dashboardContainer {
  padding-left: 0;
}

.dashBoardWalletContainer {
  display: flex;
  justify-content: center;
}

.studentsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.studentsForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  background-color: #F7F2EA;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  height: 1.5rem;
}

.searchButton {
  border: none;
  border-radius: 5px;
  background-color: #CEAF7F;
  padding: 5px 10px;
  color: white;
  width: 20%;
  margin: 20px;
}

.form-input {
  background-color: transparent;
  border: black 2px solid;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  height: 1.5rem;
}

select {
  background-color: transparent;
  border: black 2px solid;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  height: 1.5rem;
  width: 20%;
}

.studentsForm div {
  margin: 0 5%;
  width: 100%;
}

.grantStatusContainer {
  padding: 10px 30px;
  background-color: #FFFAF2;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 10%;
  display: inline-block;
}

.recieveButton {
  text-decoration: none;
  color: white;
  background-color: #CEAF7F;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.75rem;
}

.depositInputContainer {
  margin-bottom: 20px;
}

.depositInput {
  padding: 5px 10px;
  background-color: #FFFAF2;
  border-radius: 5px;
  border: #CEAF7F 2px solid;
  margin-bottom: 20px;
}

.depositInputButton {
  text-decoration: none;
  color: white;
  background-color: #CEAF7F;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.75rem;
  border: #CEAF7F 3px solid;
  margin: 10px;
}

.depositInput[disabled] {
  padding: 5px 10px;
  background-color: #636261;
  border-radius: 5px 0 0 5px;
  border: #636261 2px solid;
  color: white;
}

.depositInputButton[disabled] {
  text-decoration: none;
  color: white;
  background-color: #636261;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.75rem;
  border: #636261 3px solid;
}

.percentButton {
  padding: 5px 10px;
  background-color: #CEAF7F;
  border-radius: 5px;
  bordeR: none;
  margin: 0 10px;
  color: white;
}

.approveButton {
  text-decoration: none;
  color: white;
  background-color: #CEAF7F;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.75rem;
  border: #CEAF7F 3px solid;
  margin-bottom: 20px;
  margin: 10px;
}

.navLinkContainer {
  margin: 20px;
}

.editApplicationButton {
  text-decoration: none;
  color: white;
  background-color: #CEAF7F;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.75rem;
  border: #CEAF7F 3px solid;
  margin: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landing-page-image-container {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
    min-height: 60vh;
  }

  .landing-image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: auto;
  }

  .why-box-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .dashboardContainer {
    padding-left: 15%;
  }

  .dashboardWalletContainer {
    display: flex;
    justify-content: flex-end;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .landing-container {
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: 80vh;
    max-height: 90vh;
  }

  .title-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    padding: 0 0 0 25%;
    text-align: left;
  }

  .landing-page-title {
    font-size: 3rem;
  }

  .landing-page-image-container {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .landing-image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 90%;
    height: auto;
  }

  .form-input-divider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-input {
    width: 40%;
  }

  select {
    width: 10%;
  }

  .searchButton {
    width: 10%;
  }
}

/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .landing-container {
      display: grid;
      grid-template-columns: 40% 60%;
      min-height: 30vh;
      max-height: 80vh;
    }

    .title-container {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      align-self: center;
      padding: 0 0 0 20%;
      text-align: left;
    }
  
    .landing-page-title {
      font-size: 3rem;
    }
  
    .landing-page-image-container {
      position: relative;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  
    .landing-image {
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 90%;
      height: auto;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .landing-container {
    display: grid;
    grid-template-columns: 40% 60%;
    min-height: 80vh;
    max-height: 90vh;
  }

  .title-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
    padding: 0 0 0 20%;
    text-align: left;
  }

  .landing-page-title {
    font-size: 3rem;
  }

  .landing-page-image-container {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .landing-image {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 90%;
    height: auto;
  }
}

#ewf1qt90tkhs2_to {
	animation: ewf1qt90tkhs2_to__to 3000ms linear infinite normal forwards
}

@keyframes ewf1qt90tkhs2_to__to {
	0% {
		transform: translate(210.387778px, -229.465221px)
	}
	1% {
		transform: translate(210.387778px, -229.465221px);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
	}
	30.333333% {
		transform: translate(115.998046px, -199.432125px);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
	}
	60% {
		transform: translate(210.387778px, -229.465221px)
	}
	100% {
		transform: translate(210.387778px, -229.465221px)
	}
}

#ewf1qt90tkhs1 {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 90%;
  height: auto;
}

#ewf1qt90tkhs4_tr {
	animation: ewf1qt90tkhs4_tr__tr 3000ms linear infinite normal forwards;
}

@keyframes ewf1qt90tkhs4_tr__tr {
	0% {
		transform: translate(380.548584px, 337.987175px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.045000, 1.015000)
	}
	33.333333% {
		transform: translate(380.548584px, 337.987175px) rotate(45deg);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.045000, 1.015000)
	}
	67.666667% {
		transform: translate(380.548584px, 337.987175px) rotate(0deg)
	}
	100% {
		transform: translate(380.548584px, 337.987175px) rotate(0deg)
	}
}

#ewf1qt90tkhs9_tr {
	animation: ewf1qt90tkhs9_tr__tr 3000ms linear infinite normal forwards
}

@keyframes ewf1qt90tkhs9_tr__tr {
	0% {
		transform: translate(669.714428px, 195px) rotate(0deg)
	}
	2.666667% {
		transform: translate(669.714428px, 195px) rotate(0deg);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
	}
	27% {
		transform: translate(669.714428px, 195px) rotate(-20deg);
		animation-timing-function: cubic-bezier(0.420000, 0, 0.580000, 1)
	}
	56% {
		transform: translate(669.714428px, 195px) rotate(0deg)
	}
	100% {
		transform: translate(669.714428px, 195px) rotate(0deg)
	}
}

#ewf1qt90tkhs11_tr {
	animation: ewf1qt90tkhs11_tr__tr 3000ms linear infinite normal forwards
}

@keyframes ewf1qt90tkhs11_tr__tr {
	0% {
		transform: translate(540.583801px, 338.786682px) rotate(360deg)
	}
	33.333333% {
		transform: translate(540.583801px, 338.786682px) rotate(360deg)
	}
	80% {
		transform: translate(540.583801px, 338.786682px) rotate(0deg)
	}
	100% {
		transform: translate(540.583801px, 338.786682px) rotate(0deg)
	}
}