.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 15px 0;
    flex: 1;
}

.container label {
    color: #877C6E;
    display: block;
}

input[type=radio] {
    background-color: #F7F2EA;
    border: none;
    border-radius: 5px;
}

.childrenContainer {
    display: flex;
}